body {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.index-logo {
    max-width: 640px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 24px;
    color: #272727;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: #d82020;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
